extends layout

block content
  h1 Issues #{issues.length}
  //- Table of issues
  table
    tr
      th index
      th hash
      th key
      th fixVersion
    each issue in issues
      tr(style="background-color: #{issue.fixVersion == '1.4.0' || issue.fixVersion == '1.5.0' ? '#FF0000' : ''}")
        td= issue.index || 'N/A'
        td= issue.hash || 'N/A'
        td= issue.key || 'N/A'
        td= issue.fixVersion || 'N/A'
        td(style="background-color: #{issue.status!='Done' ? '#FFFF00': '' }")= issue.status || 'N/A'